<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
</head>
<body>
    <h1>Courses</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
        </tr>
        {% for course in courses %}
        <tr>
            <td><a href="/courses/{{ course.id }}/">{{ course.id }}</a></td>
            <td>{{ course.title }}</td>
            <td>{{ course.author }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
